.players{
    margin-top: 20px;
    transition: 0.2s all;
}
.players__list{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.players__list__player{
    width: calc(100% / 4 - 8px);
    margin-right: 10px;
    margin-bottom: 10px;
    height: 270px;
    background: white;
    cursor: pointer;
}
.players__list__player:nth-child(4n){
    margin-right: 0px;
}
.players__list__player  h4{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
.players__list__player figure{
    height: 230px;
    background: white;
    position: relative;
    overflow: hidden;
}
.players__list__player figure img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.2s all;
}
.players__list__player figure img:hover{
    transform: scale(1.1);
}
.player__page{
    margin-top: 20px;
    transition: 0.2s all;
}
.player__page__list{
    width: 100%;
}
.player__page__list .list__element{
    height: 370px;
}
.player__page__list .list__element__img{
    height: 170px;

}
.player__page__info{
    margin-bottom: 30px;
}
.player__page__info figure{
    width: 300px;
    height: 300px;
    position: relative;
    border: 3px solid white;
    background: white;
}
.player__page__info figure img{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 1050px){
    .players__list__player{
        width: calc(100% / 3 - 8px);
        margin-right: 10px;
    }
    .players__list{
        padding-bottom: 100px;
    }
   
    
    .players__list__player:nth-child(3n){
        margin-right: 0px;
    }
    .players__list__player:nth-child(4n){
        margin-right: 10px;
    }
}

@media only screen and (max-width: 730px){
    .players__list{
        padding-left: 10px;
        padding-right: 10px;
    }
    .players__list__player{
        height: auto;
        padding-bottom: 10px;
        margin-right: 11px;
    }
    .players__list__player figure{
        height: 30vw;
    }
    .players__list__player h4{
        font-size: 12px;
    }
    .player__page__list{
        padding-left: 10px;
        padding-bottom: 100px;
        padding-right: 10px;
    }
}


@media only screen and (max-width: 550px){
    .players__list__player{
        width: calc(50% - 6px);
    
    }
    .players__list__player figure{
        height: 46vw;
    }
    .players__list__player:nth-child(even){
        margin-right: 0px;
    }
    .players__list__player:nth-child(3n){
        margin-right: auto;
    }
    .players__list__player figure img:hover{
        transform: none;
    }
    .player__page__info figure{
        margin: auto;
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width: 380px){
    .player__page__list .list__element__img{
        height: 160px;
    }
}
@media only screen and (max-width: 350px){
    .players__list__player{
        margin-right: 0px;
        width: 100%;
    }
    .players__list__player figure{
        height: 75vw;
    }
  
}