.status__popup{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all;
}
#status__popup--active{
    pointer-events: all;
    opacity: 1;
}
.status__popup .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    position: absolute;
    left: 0px;
    top: 0px;
}
.status__popup__content{
    width: 370px;
    min-height: 220px;
    height: auto;
   padding: 20px;
    position: absolute;
    top: 100px;
    background: white;

}
.status__popup__content svg{
    font-size: 50px;
    margin-bottom: 10px;
}
.status__popup__content h2{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}
.status__popup__content button{
    background: black;
   padding-left: 40px;
   padding-right: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 17px;
}


@media only screen and (max-width: 400px){
    .status__popup__content{
        width: calc(100% - 20px);
    }
} 